<!-- <header class="site-header">

  <div class="header-wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      {% if page.current == "portfolio" %}
          <a class="current page-link" href="/">Portfolio</a>
      {% else %}
          <a class="page-link" href="/">Portfolio</a>
      {% endif %}
      {% if page.current == "blog" %}
          <a class="current page-link" href="/blog">Blog</a>
      {% else %}
          <a class="page-link" href="/blog">Blog</a>
      {% endif %}
      {% if page.current == "about" %}
          <a class="current page-link" href="/about">About</a>
      {% else %}
          <a class="page-link" href="/about">About</a>
      {% endif %}

    </nav>
  </div>

</header> -->
