.about
  width: 80%
  margin: $spacing-unit auto
  overflow: hidden

.chloe
  float: left
  margin-right: $spacing-unit

.about-tagline
  @extend .tagline
  float: left
  width: 65%
  margin-bottom: $spacing-unit

.about-content
  float: left
  width: 65%


