// RESET

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure
  margin: 0
  padding: 0


// VERTICAL RHYTHM

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm
  margin-bottom: $spacing-unit / 2


// TYPOGRAPHY

body
  font-family: $base-font
  font-size: $doc-font-size
  line-height: $doc-line-height
  font-weight: 300
  color: $text-color
  background-color: $background-color
  -webkit-text-size-adjust: 100%

h1, h2, h3, h4, h5, h6
  font-family: $heading-font
  text-rendering: optimizeLegibility //fix spacing in headings

// underlined text
u, ins
  text-decoration: none
  border-bottom: 1px solid $text-color

// links
a
  color: $link-color
  text-decoration: none

  &:visited
    color: darken($link-color, 15%)

  &:hover
    color: $text-color
    //text-decoration: underline

// blockquotes
blockquote
  color: $gray-color
  border-left: 4px solid $gray-color-light
  padding-left: $spacing-unit / 2
  font-size: 18px
  letter-spacing: -1px
  font-style: italic

  > :last-child
    margin-bottom: 0

// helper styling
.center
  text-align: center

.squish
  width: 80%
  margin: 0 auto
  margin-bottom: $spacing-unit / 2


// CODE FORMATTING

pre,
code
  font-size: 15px
  border: 1px solid $gray-color-light
  border-radius: 3px
  background-color: #eef


code 
  padding: 1px 5px


pre
  padding: 8px 12px
  overflow-x: scroll

  > code
    border: 0
    padding-right: 0
    padding-left: 0


// FIGURES, IMAGES

img
  max-width: 100%
  vertical-align: middle

figure > img
  display: block

figcaption
  font-size: $small-font-size


// LISTS

ul, ol
  margin-left: $spacing-unit

li
  > ul,
  > ol
    margin-bottom: 0


// WRAPPER

.wrapper
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2))
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2))
  margin-right: auto
  margin-left: auto
  padding-right: $spacing-unit
  padding-left: $spacing-unit
  @extend %clearfix

  @media (max-width: $on-laptop)
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}))
    max-width:         calc(#{$content-width} - (#{$spacing-unit}))
    padding-right: $spacing-unit / 2
    padding-left: $spacing-unit / 2



// CLEARFIX

%clearfix

  &:after
    content: ""
    display: table
    clear: both


// ICONS

.icon

  > svg
    display: inline-block
    width: auto
    height: 25px
    vertical-align: middle

    path
      fill: $gray-color

    rect
      fill: $gray-color
