.blog-heading
  text-transform: uppercase
  letter-spacing: 5px
  font-weight: 400
  text-align: center

.tagline
  font-style: italic

.blog-preview
  max-width: 1000px
  margin: 30px auto
  overflow: hidden

  @media (max-width: $medium)
    +span-columns(10)
    +shift(1)
    margin-top: $spacing-unit / 2
    margin-bottom: $spacing-unit / 2

.post-date-index
  margin: 0
  width: 20%
  float: left
  text-align: right
  margin-right: 5%

  @media (max-width: $medium)
    float: none
    width: auto
    text-align: left
    margin-bottom: $spacing-unit / 2

.post-title-index
  width: 75%
  float: right
  padding-right: 10px

  h2
    margin-bottom: $spacing-unit / 2
    line-height: 1.3

    @media (max-width: $medium)
      margin-bottom: 0

  @media (max-width: $medium)
    float: none
    padding-right: 0

.post-tagline
  width: 75%
  line-height: 20px
  float: right
  padding-right: 10px

  @media (max-width: $medium)
    float: none
    padding-right: 0
    width: auto
