.site-footer 
  border-top: 1px solid $gray-color-light
  padding: $spacing-unit 0
  text-align: center

.social-media-nav
  margin-top: $spacing-unit / 2
  margin-bottom: $spacing-unit

  .icon
    padding-left: 10px
    padding-right: 10px

.twitter:hover
  path
    fill: $twitter-color

.behance:hover
  path,rect
    fill: $behance-color

.github:hover
  path
    fill: $github-color

.instagram:hover
  path
    fill: $instagram-color

.linkedin:hover
  path
    fill: $linkedin-color

.email:hover
  path
    fill: $email-color