.site-footer 
  border-top: 1px solid $gray-light
  text-align: center
  padding-bottom: $spacing-unit

  p
    width: 80%
    margin: 0 auto

.social-media-nav
  width: 80%
  max-width: 400px
  +display(flex)
  -webkit-justify-content: space-around
  -moz-justify-content: space-around
  -ms-justify-content: space-around
  -o-justify-content: space-around
  justify-content: space-around
  margin: $spacing-unit auto

.twitter:hover
  path
    fill: $twitter-color

.behance:hover
  path,rect
    fill: $behance-color

.github:hover
  path
    fill: $github-color

.instagram:hover
  path
    fill: $instagram-color

.linkedin:hover
  path
    fill: $linkedin-color

.email:hover
  path
    fill: $email-color

@media (max-width: 800px)  // doesn't work yet
.twitter:active
  path
    fill: $twitter-color

.behance:active,
  path,rect
    fill: $behance-color

.github:active
  path
    fill: $github-color

.instagram:active
  path
    fill: $instagram-color

.linkedin:active
  path
    fill: $linkedin-color

.email:active
  path
    fill: $email-color

@media (max-width: 350px)
  .social-media-nav
    width: 160px
    margin: 0 auto
    padding-bottom: 0

    svg
      margin-bottom: 25px

  .linkedin
    margin-left: 7px

  .email
    margin-left: 7px