img 
  margin-bottom: $spacing-unit

.img-fill-width
  +span-columns(12)

figcaption
  text-align: center
  margin-top: $spacing-unit / 2

.image-center
  +span-columns(6)
  +shift(3)
  margin-bottom: $spacing-unit
  margin-top: $spacing-unit

figure
  margin-bottom: $spacing-unit

figure > img
  margin: 0 auto