img 
  margin-bottom: $spacing-unit

.img-fill-width
  +span-columns(12)

figcaption
  text-align: center
  margin-top: $spacing-unit / 2

.image-center
  //display: block
  //margin: 0 auto
  +span-columns(6)
  +shift(3)
  margin-bottom: $spacing-unit


figure
  margin-bottom: $spacing-unit

  &.half, .third
    +outer-container
    text-align: center

  &.half > img
    +span-columns(6)

  &.third > img
    +span-columns(4)

figure > img
  margin: 0 auto