.half
  +span-columns(6)
  +omega(2n)

  > ul, ol
    //display: block
    //margin: 0 auto
    //text-align: center
    +span-columns(4 of 6)
    +shift(1)

  @media (max-width: $large)
    padding-right: 10px
    padding-left: 10px

  @media (max-width: $small)
    +span-columns(12)

.third
  +span-columns(4)
  +omega(3n)

  @media (max-width: $medium)
    +span-columns(12)

.demonstration
  +outer-container
  position: relative



/**
 * Page content
 */
.page
  overflow: hidden


.page-heading 
  font-size: 20px


.page-title 
  margin-top: $spacing-unit
  text-align: center


.post-list 
  margin-left: 0
  list-style: none

  > li 
    margin-bottom: $spacing-unit
    


.post-meta 
  font-size: $small-font-size
  color: $gray


.post-link 
  display: block
  font-size: 24px




/**
 * Posts
 */


        
   

.left
  max-width: 48%
  float: left
  margin-right: 2%
  display: inline-block

.right
  max-width: 48%
  float: right
  margin-left: 2%
  display: inline-block

.half-l
  width: 50%
  float: left
  //display: inline-block

.half-r 
  width: 50%
  float: right
  //display: inline-block

