.post-title
  +span-columns(10)
  +shift(1)
  +font-size(42)

  @media (max-width: $small)
    +font-size(36)

  @media (max-width: $xsmall)
    +font-size(30)

.post-meta
  +span-columns(2.5)
  +shift(1)
  margin-top: $spacing-unit

  > p
    +font-size(14, yes, 22)
    text-align: right

    @media (max-width: $header-break)
      text-align: left

  @media (max-width: $header-break)
    +span-columns(11)
    +shift(1)
    margin-top: $spacing-unit / 4

.post-content
  +span-columns(7)
  +omega
  margin-top: $spacing-unit
  
  > ol, ul
    margin-bottom: 0

  > h2, h3, h4
    margin-top: $spacing-unit

  > h2:first-child
    margin-top: 0

  > h3
    margin-bottom: 0

  .highlight
    margin-top: $spacing-unit / 2

  @media (max-width: $header-break)
    +span-columns(10)
    +shift(1)

// SPECIAL CASES

.blur
  display: block
  margin: $spacing-unit / 2 auto
  width: 50%
  -webkit-filter: blur(4px)
  filter: blur(4px)

.blur-wrapper
  display: block
  margin: $spacing-unit / 2 auto
  width: 50%
  overflow: hidden

.blur-crisp
  margin-bottom: 0  // gets rid of default margin I had on images in posts
  width: 100%
  -webkit-transform: scale(1.05)
  transform: scale(1.05)
  -webkit-filter: blur(4px)
  filter: blur(4px)
