.post
  width: 80%
  margin: 60px auto
  overflow: hidden

  @media (max-width: $header-break)
    margin-top: $spacing-unit
    margin-bottom: $spacing-unit

.post-title 
  font-size: 42px
  line-height: 1
  margin-bottom: $spacing-unit
  margin-left: $spacing-unit

  @media (max-width: 850px)
    margin-left: 0

  @media (max-width: $on-laptop) 
    font-size: 36px

  @media (max-width: $header-break)
    margin-bottom: $spacing-unit / 2

  @media (max-width: $on-palm)
    font-size: 1.8em

.post-meta
  float: left
  width: 20%
  margin-left: $spacing-unit
  text-align: right

  @media (max-width: 850px)
    margin-left: 0

  @media (max-width: $header-break)
    float: none
    text-align: left
    width: auto
    margin-bottom: $spacing-unit

.post-date
  margin-bottom: 0

.post-content
  float: right
  width: 60%
  margin-bottom: $spacing-unit
  margin-right: 10%

  h2 
    font-size: 32px

    @media (max-width: $on-laptop) 
      font-size: 28px  
    
  h3 
    font-size: 26px

    @media (max-width: $on-laptop) 
      font-size: 22px

  h4 
    font-size: 20px

    @media (max-width: $on-laptop) 
      font-size: 18px

  @media (max-width: 850px)
    width: 70%
    margin-right: 5%

  @media (max-width: $header-break)
    float: none
    width: 100%
    margin-right: 0
  

  