.post
  width: 80%
  margin: 60px auto
  overflow: hidden

  @media (max-width: 700px)
    margin-top: $spacing-unit
    margin-bottom: $spacing-unit

.post-header
  margin-bottom: $spacing-unit
  margin-left: $spacing-unit

  @media (max-width: 700px)
    margin-left: 0

.post-content
  float: right
  width: 60%
  margin-right: 10%

  @media (max-width: 1000px)
    width: 70%
    margin-right: 5%

  @media (max-width: 700px)
    float: none
    width: 100%
    margin-right: 0