.page-title-style
  @extend .page-title
  font-size: 4em

.component
  border: 1px solid $gray-color-light
  border-radius: 5px
  //padding: $spacing-unit / 2
  margin-bottom: $spacing-unit

.component-header
  background-color: $gray-color-light
  padding: $spacing-unit / 2

  h3
    font-weight: 300
    margin-bottom: 0

  p 
    font-size: .8em
    margin-bottom: 0
    
.component-content
  margin: $spacing-unit / 2


